.details {
  &User {
    &Title,
    &Status {
      font-size: 1.3rem;
    }
    &Name {
      font-size: 1.2rem;
    }
    &Email {
      font-size: 1rem;
      margin: 0;
    }
    &Phone {
      font-size: 0.9rem;
      margin: 0;
    }
  }
}
